<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="test_mapping" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\test_api\nimbus\Scripts\python.exe|E:\test_api\nimbus\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="test_project.settings" />
        <add key="PYTHONPATH" value="‪E:\test_api\test_project" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
